[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "0.2.15" 
langchain-google-genai = "1.0.10"
streamlit = "1.37.1"
pypdf2 = "3.0.0"
langchain-community="*"
altair = "5.4.0"
python-dotenv = "1.0.1"
faiss-cpu = "1.8.0.post1"
nltk = "3.9.1"


# Add other dependencies as needed

[dev-packages]

[requires]
python_version = "3.12"
